kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

name: svb-cluster

nodes:
    - role: control-plane

      kubeadmConfigPatches:
          - |
              kind: InitConfiguration
              nodeRegistration:
                kubeletExtraArgs:
                  node-labels: "ingress-ready=true"

      extraPortMappings:
          # HTTP port for Ingress
          - containerPort: 80
            hostPort: 80
            protocol: TCP
          # HTTPS port for Ingress (als we een TLS certificaat gebruiken)
          - containerPort: 443
            hostPort: 443
            protocol: TCP
          # NodePort voor onze fronend, toegang zonder Ingress voor testen
          - containerPort: 30080
            hostPort: 30080
            protocol: TCP

    # we maken 2 worker nodes aan, hier kunnen we later de backend pods over verdelen
    - role: worker
    - role: worker

networking:
    # pod subnet
    podSubnet: "10.244.0.0/16"

    # service subnet
    serviceSubnet: "10.96.0.0/12"

    # laat kind zijn eigen intern netwerk gebruiken, zodat we lokaal kunnen testen zonder extra netwerk configuratie
    disableDefaultCNI: false
