apiVersion: v1
kind: ConfigMap
metadata:
    name: svb-backend-config
    namespace: svb-webstack
    labels:
        app.kubernetes.io/name: svb-webstack
        app.kubernetes.io/component: backend
data:
    # dit zijn de variabelen voor de database connectie
    DB_HOST: "svb-database"
    DB_PORT: "5432"
    DB_NAME: "webstack"

