apiVersion: apps/v1
kind: Deployment
metadata:
    name: svb-frontend
    namespace: svb-webstack
    labels:
        app.kubernetes.io/name: svb-webstack
        app.kubernetes.io/component: frontend
spec:
    replicas: 1

    selector:
        matchLabels:
            app.kubernetes.io/name: svb-webstack
            app.kubernetes.io/component: frontend

    strategy:
        type: RollingUpdate
        rollingUpdate:
            maxSurge: 1
            maxUnavailable: 0

    template:
        metadata:
            labels:
                app.kubernetes.io/name: svb-webstack
                app.kubernetes.io/component: frontend
        spec:
            containers:
                - name: frontend
                  image: svb-frontend:latest
                  imagePullPolicy: Never

                  ports:
                      - containerPort: 80
                        name: http

                  resources:
                      requests:
                          memory: "64Mi"
                          cpu: "50m"
                      limits:
                          memory: "128Mi"
                          cpu: "200m"

                  livenessProbe:
                      httpGet:
                          path: /health
                          port: 80
                      initialDelaySeconds: 5
                      periodSeconds: 10
                      timeoutSeconds: 3
                      failureThreshold: 3

                  readinessProbe:
                      httpGet:
                          path: /health
                          port: 80
                      initialDelaySeconds: 3
                      periodSeconds: 5
                      timeoutSeconds: 3
                      failureThreshold: 3

---

# hier gebruiken we een nodeport, deze is wel toegangelijk aan de buitenwereld. Zo kunnen we onze frontend toegankelijk maken buiten de cluster. 
# waarom we dit wel toegankelijk maken aan de buitenwerled is zodat we ook kunnen testen of onze frontend goed werkt zonder dat onze ingress controller hoeft te werken.
# voor productie is een ingress controller altijd aan te raden omdat deze beter is voor veiligheid en betere performance.
apiVersion: v1
kind: Service
metadata:
    name: svb-frontend
    namespace: svb-webstack
    labels:
        app.kubernetes.io/name: svb-webstack
        app.kubernetes.io/component: frontend
spec:
    type: NodePort

    selector:
        app.kubernetes.io/name: svb-webstack
        app.kubernetes.io/component: frontend

    ports:
        - port: 80
          targetPort: 80
          nodePort: 30080 # None default poort (om niet onze host ports te clutteren)
          protocol: TCP
          name: http
