apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
    name: traefik
    annotations:
        ingressclass.kubernetes.io/is-default-class: "true"
spec:
    controller: traefik.io/ingress-controller
---
apiVersion: v1
kind: ServiceAccount
metadata:
    name: traefik-ingress-controller
    namespace: kube-system
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
    name: traefik-ingress-controller
rules:
    - apiGroups:
          - ""
      resources:
          - services
          - endpoints
          - secrets
      verbs:
          - get
          - list
          - watch
    - apiGroups:
          - extensions
          - networking.k8s.io
      resources:
          - ingresses
          - ingressclasses
      verbs:
          - get
          - list
          - watch
    - apiGroups:
          - extensions
          - networking.k8s.io
      resources:
          - ingresses/status
      verbs:
          - update
    - apiGroups:
          - traefik.io
      resources:
          - middlewares
          - middlewaretcps
          - ingressroutes
          - traefikservices
          - ingressroutetcps
          - ingressrouteudps
          - tlsoptions
          - tlsstores
          - serverstransports
      verbs:
          - get
          - list
          - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
    name: traefik-ingress-controller
roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: traefik-ingress-controller
subjects:
    - kind: ServiceAccount
      name: traefik-ingress-controller
      namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: traefik
    namespace: kube-system
    labels:
        app: traefik
spec:
    replicas: 1
    selector:
        matchLabels:
            app: traefik
    template:
        metadata:
            labels:
                app: traefik
        spec:
            serviceAccountName: traefik-ingress-controller
            # hostNetwork: true allows the pod to listen on port 80/443 of the node directly.
            # This is required for kind port mappings (extraPortMappings) to work efficiently.
            hostNetwork: true
            nodeSelector:
                ingress-ready: "true"
            tolerations:
                - key: "node-role.kubernetes.io/control-plane"
                  operator: "Exists"
                  effect: "NoSchedule"
                - key: "node-role.kubernetes.io/master"
                  operator: "Exists"
                  effect: "NoSchedule"
            containers:
                - name: traefik
                  image: traefik:v3.0
                  args:
                      - --api.insecure=true
                      - --accesslog
                      - --entrypoints.web.address=:80
                      - --entrypoints.websecure.address=:443
                      - --providers.kubernetesingress
                      - --providers.kubernetesingress.ingressclass=traefik
                  ports:
                      - name: web
                        containerPort: 80
                      - name: websecure
                        containerPort: 443
                      - name: admin
                        containerPort: 8080
                  securityContext:
                      capabilities:
                          drop:
                              - ALL
                          add:
                              - NET_BIND_SERVICE
---
apiVersion: v1
kind: Service
metadata:
    name: traefik
    namespace: kube-system
spec:
    selector:
        app: traefik
    ports:
        - protocol: TCP
          port: 80
          name: web
        - protocol: TCP
          port: 443
          name: websecure
        - protocol: TCP
          port: 8080
          name: admin
