apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: traefik
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: traefik
  namespaceSelector:
    matchNames:
      - kube-system
  endpoints:
  - port: web
    path: /metrics
    interval: 15s
